# Mirakl API Configuration
MIRAKL_API_URL=https://nordstromus-prod.mirakl.net
MIRAKL_API_KEY=your-mirakl-api-key
MIRAKL_SHOP_ID=

# Shopify API Configuration
SHOPIFY_SHOP_URL=your-shopify-shop-url.myshopify.com
SHOPIFY_CLIENT_ID=your-shopify-client-id
SHOPIFY_CLIENT_SECRET=your-shopify-client-secret
SHOPIFY_API_VERSION=2026-04


# Sync Settings
SYNC_INTERVAL_MINUTES=15
PORT=3000
SHOPIFY_PRODUCT_STATUS=active
